@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Utility stylings */
img {
    width: 100%;
    display: block;
}

.container {
    width: 88vw;
    margin: 0 auto;
}

.lg-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 0;
    opacity: 0.9;
}

.text-light {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}

/* person section */
.persons {
    background: var(--alice-blue);
    padding: 3.2rem 0;
}

.person {
    margin: 2rem;
    position: relative;
}

.person-content {
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}

.person-img {
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
    filter: blur(4px);
}

.person-btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.btn-buy-person {
    margin-top: 20px;
    background: white;
    border: none;
    padding: 0;
    padding-bottom: 5px;
    width: 125px;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 16px;
    border-radius: 10px;
    background: var(--carribean-green);
}

.btn-buy-person:hover {
    background: var(--carribean-green);
    color: #fff;
}

.person-btns i {
    font-size: 25px;
}

.person-info {
    background: white;
    text-align: center;
    padding: 2rem;
}

.person-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.person-img img {
    transition: transform 0.6s ease;
}

.person:hover .person-img img {
    transform: scale(1.1);
}

.person:hover .person-img {
    background: var(--carribean-green);
}

.person:hover .person-btns {
    opacity: 1;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .person-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .person-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .person {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .persons .text-light {
        width: 50%;
    }
}

@media screen and (min-width: 1336px) {
    .person-items {
        grid-template-columns: repeat(4, 1fr);
    }
}
