RewriteEngine On
RewriteBase /LangCoffee/

# Điều hướng trang chủ
RewriteRule ^trang-chu$ index.php [L]

RewriteRule ^menu$ index.php?page=menu [L]
RewriteRule ^dich-vu$ index.php?page=person [L]
RewriteRule ^story$ index.php?page=story [L]
RewriteRule ^blog$ index.php?page=blog [L]

# Điều hướng chi tiết Menu
RewriteRule ^menu/menudetail/([0-9]+)$ index.php?page=menu&method=menudetail&id=$1 [L]
RewriteRule ^person/personDetail/([0-9]+)$ index.php?page=person&method=personDetail&id=$1 [L]
RewriteRule ^blog/blogDetail/([0-9]+)$ index.php?page=blog&method=blogDetail&id=$1 [L]

# Bỏ qua các tệp tĩnh (CSS, JS, Images)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . - [L]
